@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Demi.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/Avenir/AvenirNextLTPro-Bold.otf") format("opentype");
}

h1 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

h2 {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

h4, p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  h4, p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Avenir Next Regular";
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  height: 80px;
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo-link {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .header__logo-link {
    padding: 0;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header__logo-link {
    margin-left: 180px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-items {
  margin: 0;
  padding: 16px 0 6px 0;
  width: 50%;
  text-align: center;
  color: #AFAFAF;
}

@media screen and (min-width: 768px) {
  .header__list-items {
    padding: 34px 7px 23px 7px;
    margin-left: 56px;
  }
}

@media screen and (min-width: 768px) {
  .header__h4 {
    line-height: 18px;
  }
}

.header__list-focus {
  border-bottom: 5px solid white;
}

.header__link {
  text-decoration: none;
  color: #AFAFAF;
}

.header__link-focus {
  color: white;
}

.hero {
  height: 183px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/images/concert2.jpg);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/concert2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 670px;
  }
}

.hero__title {
  margin: 0 0 0 16px;
  width: 70%;
  color: white;
  font-family: "Avenir Next Bold";
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin: 0 0 0 24px;
    font-size: 60px;
    line-height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__title {
    margin: 0 0 0 180px;
    width: 40%;
  }
}

.article-one {
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .article-one {
    padding: 48px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .article-one {
    padding: 48px 180px;
  }
}

.article-one__heading-one {
  font-family: "Avenir Next Bold";
  margin: 16px 0 0 0;
}

@media screen and (min-width: 768px) {
  .article-one__heading-one {
    margin: 0 0 48px 0;
  }
}

@media screen and (min-width: 1440px) {
  .article-one__wrap {
    padding: 0 92px;
  }
}

.article-one__img {
  width: 100%;
  margin: 24px 0 0 0;
}

@media screen and (min-width: 768px) {
  .article-one__img {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .article-one__img-wrap {
    height: 362px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .article-one__img-wrap {
    height: 450px;
    overflow: hidden;
  }
}

.article-one__quote {
  margin: 24px 0 0 0;
  font-family: "Avenir Next Demi";
}

@media screen and (min-width: 768px) {
  .article-one__quote {
    margin: 48px 0 40px 0;
    width: 90%;
  }
}

.article-one__quoted {
  margin: 32px 0 0 0;
  font-family: "Avenir Next Demi";
}

.article-one__text-heading {
  margin: 40px 0 0 0;
  font-family: "Avenir Next Demi";
}

@media screen and (min-width: 768px) {
  .article-one__text-heading {
    margin: 56px 0 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .article-one__para-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.article-one__para {
  margin: 24px 0 0 0;
}

@media screen and (min-width: 768px) {
  .article-one__para {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .article-one__para {
    padding-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .article-one__para-two {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .article-one__para-two {
    margin: 0 0 0 40px;
  }
}

.article-two {
  background: #FAFAFA;
  padding: 16px;
  margin: 24px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .article-two {
    padding: 48px 24px 40px 24px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .article-two {
    padding: 48px 180px 40px 180px;
  }
}

.article-two__heading-two {
  margin: 16px 0 8px 0;
  font-family: "Avenir Next Bold";
}

@media screen and (min-width: 768px) {
  .article-two__heading-two {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .article-two__img-wrap {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.article-two__img {
  width: 100%;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 768px) {
  .article-two__img {
    width: calc(33.33% - 16px);
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .article-two__img {
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
  }
}

.article-two__img:hover {
  -webkit-filter: none;
          filter: none;
}

@media screen and (min-width: 768px) {
  .article-two__img:nth-child(n + 4) {
    margin-top: 24px;
  }
}

.article-two__img:last-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .article-two__img:last-child {
    margin-bottom: 0;
  }
}

.join-conv {
  padding: 0 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .join-conv {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .join-conv {
    padding: 0 180px;
  }
}

.join-conv__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .join-conv__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.join-conv__title {
  margin: 32px 0 40px 0;
  font-family: "Avenir Next Bold";
}

.join-conv__comments {
  border-bottom: 1px solid #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .join-conv__comments {
    width: 528px;
  }
}

.join-conv__name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-conv__label-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join-conv__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 22px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.join-conv__name-label, .join-conv__comment-label {
  font-size: 12px;
  line-height: 20px;
  color: #AFAFAF;
}

.join-conv__input {
  padding: 14px 15px;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .join-conv__input {
    width: 478px;
  }
}

.join-conv__input:focus {
  border: 2px solid black;
  outline: transparent;
}

.join-conv__button {
  background-color: #323232;
  color: white;
  padding: 16px 0px;
  margin: 16px 0 32px 0;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .join-conv__button {
    width: 160px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.join-conv__comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .join-conv__comment-list {
    width: 528px;
  }
}

.join-conv__comment-list-item {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E1E1E1;
}

.join-conv__comment-img {
  background-color: #E1E1E1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.join-conv__comment-name-text {
  width: calc(100% - 50px);
}

.join-conv__comment-name-date {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-conv__comment-date {
  color: #AFAFAF;
}

.footer {
  padding: 48px 4%;
  background: #323232;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 48px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 48px 180px;
  }
}

.footer__heading {
  font-family: "Avenir Next Bold";
  font-size: 32px;
}

.footer__social-wrap {
  width: 40%;
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__social-wrap {
    margin: 0 0 0 30px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 32px;
  }
}

.footer__logo {
  display: none;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__head-social-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__contacts {
    width: 70%;
  }
}

.footer__contact {
  margin-top: 24px;
  font-family: "Avenir Next Demi";
}

.footer__info {
  margin-top: 24px;
}

.footer__email {
  text-decoration: none;
  color: white;
}

.footer__copyright {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright-p {
    margin-left: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */