@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";


html {
  box-sizing: border-box;
  font-family: "Avenir Next Regular";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  height: 80px;
  background: $themecolor1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  @include tablet() {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  &__logo-link {
    padding-top: 15px;
    display: flex;
    justify-content: center;

    @include tablet() {
      padding: 0;
      margin-left: 24px;
    }

    @include desktop() {
      margin-left: 180px;
    }
  }

  &__nav {
    @include tablet() {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__list-items {
    margin: 0;
    padding: 16px 0 6px 0;
    width: 50%;
    text-align: center;
    color: $themecolor2;

    @include tablet() {
      padding: 34px 7px 23px 7px;
      margin-left: 56px;
    }
  }

  &__h4 {
    @include tablet() {
      line-height: 18px;
    }
  }

  &__list-focus {
    border-bottom: 5px solid white;
  }

  &__link {
    text-decoration: none;
    color: $themecolor2; 
  }

  &__link-focus {
    color: white; 
  }

}


.hero {
  height: 183px;
  background: linear-gradient(rgba(50, 50, 50, 0.5), 
  rgba(50, 50, 50, 0.5)), url(../assets/images/concert2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;

  @include tablet() {
    height: 400px;
  }

  @include desktop() {
    height: 670px;  
  }

  &__title {
    margin: 0 0 0 16px;
    width: 70%;
    color: white;
    font-family: "Avenir Next Bold";

    @include tablet() {
      margin: 0 0 0 24px;
      font-size: 60px;
      line-height: 68px;
    }

    @include desktop() {
      margin: 0 0 0 180px;
      width: 40%;  
    }
  }

  // Shows
  &__music {
    margin-left: 64px;
  }
}


.article-one {
  padding: 16px;

  @include tablet() {
    padding: 48px 24px;
  }

  @include desktop() {
    padding: 48px 180px;
  }

  &__heading-one {
    font-family: "Avenir Next Bold";
    margin: 16px 0 0 0;

    @include tablet() {
      margin: 0 0 48px 0;
    }
  }

  &__wrap {
    @include desktop() {
      padding: 0 92px;
    }
  }

  &__img {
    width: 100%;
    margin: 24px 0 0 0;

    @include tablet() {
      margin: 0;  
    }
  }

  &__img-wrap {
    @include tablet() {
      height: 362px;
      overflow: hidden;  
    }

    @include desktop() {
      height: 450px;
      overflow: hidden;
    }
  }

  &__quote {
    margin: 24px 0 0 0;
    font-family: "Avenir Next Demi";

    @include tablet() {
      margin: 48px 0 40px 0;
      width: 90%;
    }
  }

  &__quoted {
    margin: 32px 0 0 0;
    font-family: "Avenir Next Demi";
  }

  &__text-heading {
    margin: 40px 0 0 0;
    font-family: "Avenir Next Demi";

    @include tablet() {
      margin: 56px 0 32px 0;
    }
  }

  &__para-wrap {
    @include tablet() {
      display: flex;
    }
  }

  &__para {
    margin: 24px 0 0 0;

    @include tablet() {
      margin: 0;
    }

    @include desktop() {
      padding-right: 8px;
    }
  }

  &__para-two {
    @include tablet() {
      margin-left: 24px;
    }

    @include desktop() {
      margin: 0 0 0 40px;
    }
  }
}

.article-two {
  background: $themecolor3;
  padding: 16px;
  margin: 24px 0 0 0;

  display: flex;
  flex-direction: column;

  @include tablet() {
    padding: 48px 24px 40px 24px;
    margin: 0;
  }

  @include desktop() {
    padding: 48px 180px 40px 180px;
  }

  &__heading-two {
    margin: 16px 0 8px 0;
    font-family: "Avenir Next Bold";

    @include tablet() {
      margin: 0;
    }
  }

  &__img-wrap {
    @include tablet() {
      margin-top: 64px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__img {
    width: 100%;
    margin: 16px 0 0 0;

    @include tablet() {
      width: calc(33.33% - 16px);
      margin: 0;
    }

    @include desktop {
      filter: grayscale(70%);
    }
  }

  &__img:hover {
    filter: none;
  }

  &__img:nth-child(n + 4) {
    @include tablet() {
      margin-top: 24px;
    }
  }

  &__img:last-child {
    margin-bottom: 32px;

    @include tablet() {
      margin-bottom: 0;
    }
  }
}

.footer {
  padding: 48px 4%;
  background: $themecolor1;
  color: white;

  @include tablet() {
    padding: 48px 24px;
  }

  @include desktop() {
    padding: 48px 180px;
  }

  &__heading {
    font-family: "Avenir Next Bold";
    font-size: 32px;
  }

  &__social-wrap {
    width: 40%;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;

    @include tablet() {
      margin: 0 0 0 30px;
      width: auto;
      
    }
  }

  &__social {
    @include tablet() {
      margin-left: 32px;
    }
  }

  &__logo {
    display: none;
    height: 24px;

    @include tablet() {
      display: inline-flex;
      margin-left: auto; 
    }
  }

  &__head-social-logo {
    @include tablet() {
      display: flex;
      align-items: center;
    }
  }

  &__contacts {
    @include tablet() {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }

    @include desktop() {
      width: 70%;
    }
  }

  &__contact {
    margin-top: 24px;
    font-family: "Avenir Next Demi";
  }

  &__info {
    margin-top: 24px;
  }

  &__email {
    text-decoration: none;
    color: white;
  }

  &__copyright {
    margin-top: 32px;

    @include tablet() {
      display: flex;
      margin-top: 40px;
    }
  }

  &__copyright-p {

    @include tablet() {
      margin-left: 5px;
    }
  }
}
